*{
    margin: 0;
    padding: 0;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-card{
    width: 18%;
    border: 2px solid black;
    height: 470px;
    margin-bottom: 30px;
    border-radius: 5px;

}
.product-card:hover{
    border: 3px solid red;
    cursor: pointer;
}
.product-card img{
    width: 80%;
    height: 260px;
    margin-left: 10%;
    margin-top: 25px;
}
.product-card h4{
    margin-left: 20px;
}
.product-card h2{
    margin-left: 20px;
}
.product-card p{
    margin-left: 20px;
}